# SPDX-License-Identifier: AGPL-3.0-or-later
[Unit]
Description=Update systemd-networkd WireGuard DynDNS endpoints for %i.netdev
ConditionCapability=CAP_NET_ADMIN
DefaultDependencies=no
BindsTo=systemd-networkd.service
After=systemd-networkd.service network-online.target
Wants=systemd-networkd.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python /usr/bin/sd-networkd-wg-ddns.py /etc/systemd/network/%i.netdev